#calendarContainer {
    height: 75vh;
    width: 100%;
    position: relative;
    border: none;
  
    @media (min-width: 768px) {
      display: grid;
      gap: 0.25rem;
      grid-template-columns: repeat(6,  1fr);
    }
  }
  
  #calendarViewArea {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    grid-column: span 1;
    border: none;
  }

  #calendarViewArea .calendarDayContent,
  #calendarViewArea .calendarWeekContent,
  #calendarViewArea .calendarMonthContent {
    display: none;
  }

  #calendarViewArea[data-calendar-view="day"] .calendarDayContent {
    display: flex;
  }

  #calendarViewArea[data-calendar-view="week"] .calendarWeekContent {
    display: flex;
  }

  #calendarViewArea[data-calendar-view="month"] .calendarMonthContent {
    display: flex;
  }

  @media (min-width: 768px) {
    #calendarViewArea {
      grid-column: span 6;
    }
  }