@keyframes expandWidth {
  from {
    max-width: 0;
  }
  to {
    max-width: 300px;
  }
}

@keyframes closeWidth {
  from {
    max-width: 300px;
  }
  to {
    max-width: 0;
  }
}

@keyframes expandHeight {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 300px;
    opacity: 1;
  }
}
