html,
body {
  height: 100%;
}

body {
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding-inline: 1rem;
  }
}

:root {
  --bottom-nav-height: 3.25rem;
}

#headerDate {
  width: 100%;
}

#headerWeatherContainer {
  margin-right: 2rem;
}

#weatherDisplay img {
  width: 2rem;
  height: 2rem;
}

#displayButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.25rem;
}

#calendarActionButtonsContainer {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: 100%;
  gap: 0.5rem;
}

#calendarNavButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

#calendarNavButton-next img,
#calendarNavButton-previous img,
#addEventButton img {
  filter: invert(1);
  width: 1rem;
  height: 1.0625rem;
}

#addEventButton {
  width: 4rem;
}

.clickedEventPopup {
  display: none;
  position: fixed;
  max-width: 350px;
  word-wrap: break-word;
  margin-top: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
  z-index: 20;
}

.clickedEventPopup > * {
  margin-bottom: 0.25rem;
}

#editEventButton {
  width: 100%;
}
