:root {
  --bs-primary: #0d6efd;
  --bs-primary-rgb: 13, 110, 253;
  --bs-btn-bg: #0d6efd;
}

html,
body {
  height: 100dvh;
}

body {
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding-inline: 1rem;
  }
}

#mainContentContainer {
  flex: 1 1 0;
  min-height: 0;
  /* Padding to account for the fixed footer */
  padding-bottom: 3.75rem;
}

#displayButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.25rem;
}

#calendarNavButton-next img,
#calendarNavButton-previous img,
#addEventButton img {
  filter: invert(1);
  width: 1.25rem;
  height: 1.25rem;
}

#addEventButton {
  width: 4rem;
}

.clickedEventPopup {
  display: none;
  position: fixed;
  max-width: 350px;
  word-wrap: break-word;
  margin-top: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
  z-index: 20;
}

.clickedEventPopup > * {
  margin-bottom: 0.25rem;
}

#editEventButton {
  width: 100%;
}
