#calendarContainer {
  flex: 1 1 0;
  min-height: 0;
}

#calendarViewArea {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

#calendarViewArea .calendarDayContent,
#calendarViewArea .calendarWeekContent,
#calendarViewArea .calendarMonthContent {
  display: none;
}

#calendarViewArea[data-calendar-view="day"] .calendarDayContent {
  display: flex;
}

#calendarViewArea[data-calendar-view="week"] .calendarWeekContent {
  display: flex;
}

#calendarViewArea[data-calendar-view="month"] .calendarMonthContent {
  display: flex;
}

@media (min-width: 768px) {
  #calendarViewArea {
    grid-column: span 6;
  }
}

#calendarSettingsTrigger {
  --bs-btn-bg: rgba(var(--bs-primary-rgb), 0.8);
  --bs-btn-border-color: rgba(var(--bs-primary-rgb), 0.8);

  position: absolute;
  right: 1.25rem;

  @media (min-width: 768px) {
    right: 25dvw;
  }

  @media (min-width: 1024px) {
    right: 30dvw;
  }

  @media (min-width: 1278px) {
    right: 35dvw;
  }
}

.body.dark-mode #calendarSettingsTrigger {
  --bs-btn-bg: rgba(var(--bs-primary-rgb), 0.9);
  --bs-btn-border-color: rgba(var(--bs-primary-rgb), 0.9);
}

.calendarSettingsIcon {
  filter: invert(1);
}
