@import url(animations.css);

.settingsMenuButton {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  z-index: 21;

  background-image: url("../assets/icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 1.5rem;
  width: 1.5rem;

  @media (min-width: 1024px) {
    right: 1.25rem;
  }

  border: none;
}

body.dark-mode .settingsMenuButton {
  filter: invert(1);
}

.settingsMenuClose {
  background-image: url("../assets/icons/x.svg");
}

.hidden {
  display: none !important;
}

.settingsMenuContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;
  height: 100%;
  padding: 2.5rem 0.5rem 0 0;

  background-color: rgba(var(--bs-body-bg-rgb), 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.settingsMenuItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  border: solid 1px black;
  border-left: solid 0.25rem black;
  border-radius: 0.5rem;
  padding: 0.25rem;

  overflow: hidden;
  animation: expandWidth 0.5s ease-out forwards;
}

.settingsMenuItemsContainer.closing {
  animation: closeWidth 0.25s ease-in forwards;
}

body.dark-mode .settingsMenuItemsContainer {
  border: solid 1px white;
  border-left: solid 0.25rem white;
}

.menuItemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  padding: 0.25rem;
  width: 16rem;
  height: 3rem;

  border: none;

  /* Keeps borders from overlapping and doubling in thickness */
  margin-bottom: -1px;
}

.menuItemContainer:hover {
  cursor: pointer;
  background-color: rgba(var(--bs-primary-rgb), 0.5);
}

.menuItemName {
  margin: 0;
}

.menuItemIcon {
}

body.dark-mode .menuItemIcon {
  filter: invert(1);
}

.menuItemSetting {
  text-transform: capitalize;
  font-style: italic;
  margin-left: auto;
  margin-bottom: 0;
}
